In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("G:\Drive'ım\GlobalAI-PizzaOrder\Orders_Database.csv" , encoding='unicode escape' , header=None , names=['İsim','TC','Kart No','Kart Sifre','Siparis','Tutar','Tarih'])
df.head()

,İsim,TC,Kart No,Kart Sifre,Siparis,Tutar,Tarih
0,Onur,12345678900,82748503,7658,Büyük Boy Margarita Pizza - Zeytinli,79.0,2023-03-10 16:46:08.918540
1,Emincan,75982403481,28405682,1453,Normal Boy Klasik Pizza - Keci Peynirli Etli S...,61.0,2023-03-10 16:46:55.662765
2,Merve,85728493210,85739420,8713,Normal Boy Margarita Pizza - Zeytinli Etli Sog...,68.0,2023-03-10 16:47:50.111098
3,Deniz,58294012749,82940381,1149,BÃ¼yÃ¼k Boy Margarita Pizza - Etli SoganlÄ± MÄ...,92.0,2023-03-10 13:49:20.420586
4,Emincan,142125123,5876123,13123,Klasik Pizza,62.0,2023-03-11 00:56:53.865869

In [3]:
df.tail()

,İsim,TC,Kart No,Kart Sifre,Siparis,Tutar,Tarih
1,Emincan,75982403481,28405682,1453,Normal Boy Klasik Pizza - Keci Peynirli Etli S...,61.0,2023-03-10 16:46:55.662765
2,Merve,85728493210,85739420,8713,Normal Boy Margarita Pizza - Zeytinli Etli Sog...,68.0,2023-03-10 16:47:50.111098
3,Deniz,58294012749,82940381,1149,BÃ¼yÃ¼k Boy Margarita Pizza - Etli SoganlÄ± MÄ...,92.0,2023-03-10 13:49:20.420586
4,Emincan,142125123,5876123,13123,Klasik Pizza,62.0,2023-03-11 00:56:53.865869
5,Emincan,12345678901,12345678,1000,Normal Boy Klasik Pizza - Mantarlý Keci Peynir...,55.0,2023-03-11 23:00:17.067709

In [ ]:
# Done